In [ ]:
import pandas as pd

In [ ]:
def fix_data(sheet_name):
  data = pd.read_excel("/content/green data.xlsx", sheet_name=sheet_name)
  df = data.T

  first_row_values = df.iloc[0,:].values

  df_new = df[1:]
  df_new.index = pd.to_datetime(df_new.index).strftime('%Y')
  gdf = df_new.groupby(df_new.index).sum()
  gdf = gdf.loc[['2017','2018','2019','2020','2021']]
  first_row_df = pd.DataFrame([first_row_values], columns=df_new.columns)
  concat_df = pd.concat([first_row_df, gdf])
  concat_df.columns = concat_df.iloc[0,:]
  concat_df.drop(0, inplace = True)
  concat_df.rename_axis(sheet_name, inplace = True)
  return concat_df

In [ ]:
ebit_df = fix_data("EBIT")
mc_df = fix_data("MC")
oe_df = fix_data("OE")
eps_df = fix_data("EPS")
capex_df = fix_data("CAPEX")
bv_df = fix_data("BV")
roa_df = fix_data("ROA")

roa_df

,CIGI.TO,ETN,WOR.AX,PFE,CPG.L,TIGO.O,DEMANT.CO,PVH,IPG,AD.AS,...,PSN.L,CCEP.O,ADSK.O,ELUXb.ST,FMC,PRY.MI,ATOS.PA,ALV,ATEA.OL,ETSY.O
ROA,,,,,,,,,,,,,,,,,,,,,
2017,0,6.27,2.66,8.71,10.94,0.73,9.75,5.06,4.44,5.7,...,15.899,7.34,-2.15,5.308,6.09,5.424,6.38,7.5,0,-5.18
2018,0,6.59,3.939,9.37,10.42,0.89,11.04,5.44,4.45,4.51,...,17.93,5.63,-2.39,6.55,4.8,5.55,6.45,6.76,0,9.85
2019,0,7.38,3.085,10.84,10.419,-0.1,10.67,6.25,5.11,5.6,...,19.04,6.15,5.05,4.07,8.91,2.42,5.17,7.8,0,10.28
2020,0,7.47,3.892,10.24,2.08,1.29,7.36,5.58,4.53,5.05,...,18.73,6.419,11.39,2.46,8.1,3.98,4.15,7.4,0,7.849
2021,0,5.3,2.64,13.3,3.56,-2.72,5.13,-1.04,3.77,5.71,...,15.38,4.33,13.37,3.86,8.07,1.74,3.94,3.69,0,0.0

In [ ]:

merged_df = pd.DataFrame()

# Iterate over each ticker
for ticker in roa_df.columns:
    # Create a dictionary with the extracted data for the current ticker
    data_dict = {
        'EBIT Data': ebit_df[ticker].to_dict(),
        'OE Data': oe_df[ticker].to_dict(),
        'EPS Data': eps_df[ticker].to_dict(),
        'Capex Data': capex_df[ticker].to_dict(),
        'ROA Data': roa_df[ticker].to_dict()
    }

    # Create a new dataframe from the dictionary
    new_df = pd.DataFrame(data_dict)

    # Add a new level to the column index with the ticker symbol
    new_df.columns = pd.MultiIndex.from_product([[ticker], new_df.columns], names=['Ticker', ''])

    # Concatenate the new dataframe with the merged dataframe
    merged_df = pd.concat([merged_df, new_df], axis=1)

# Sort the column index in alphabetical order of ticker symbols
merged_df = merged_df.sort_index(axis=1)

<ipython-input-27-5949da03cf44>:7: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EBIT Data': ebit_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:8: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'OE Data': oe_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:9: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EPS Data': eps_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:10: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'Capex Data': capex_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:11: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'ROA Data': roa_df[ticker].to_dict()
<ipython-input-27-5949da03cf44>:7: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EBIT Data': ebit_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:8: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'OE Data': oe_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:9: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EPS Data': eps_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:10: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'Capex Data': capex_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:11: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'ROA Data': roa_df[ticker].to_dict()
<ipython-input-27-5949da03cf44>:7: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EBIT Data': ebit_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:8: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'OE Data': oe_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:9: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EPS Data': eps_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:10: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'Capex Data': capex_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:11: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'ROA Data': roa_df[ticker].to_dict()
<ipython-input-27-5949da03cf44>:7: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EBIT Data': ebit_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:8: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'OE Data': oe_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:9: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'EPS Data': eps_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:10: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'Capex Data': capex_df[ticker].to_dict(),
<ipython-input-27-5949da03cf44>:11: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  'ROA Data': roa_df[ticker].to_dict()

In [ ]:
merged_df[0:5].to_excel('gds_multiindex.xlsx')

In [ ]:
scope_1 = pd.read_excel("/content/Green Data Science.xlsx", sheet_name='Scope 1').fillna(0)
scope_2_loc = pd.read_excel("/content/Green Data Science.xlsx", sheet_name='Scope 2 Location').fillna(0)
scope_2_mkt = pd.read_excel("/content/Green Data Science.xlsx", sheet_name='Scope 2 Market').fillna(0)

In [ ]:
scope_1.set_index("Scope 1", inplace = True)
scope_2_loc.set_index("Scope 2 Location", inplace = True)
scope_2_mkt.set_index("Scope 2 Market", inplace = True)

In [ ]:
emmission_df = pd.DataFrame()

# Iterate over each ticker
for ticker in scope_1.columns:
    # Create a dictionary with the extracted data for the current ticker
    data_dict = {
        'Scope 1': scope_1[ticker].to_dict(),
        'Scope 2 Location': scope_2_loc[ticker].to_dict(),
        'Scope 2 Market': scope_2_mkt[ticker].to_dict()
    }

    # Create a new dataframe from the dictionary
    df_new = pd.DataFrame(data_dict)

    # Add a new level to the column index with the ticker symbol
    df_new.columns = pd.MultiIndex.from_product([[ticker], df_new.columns], names=['Ticker', ''])

    # Concatenate the new dataframe with the merged dataframe
    emmission_df = pd.concat([emmission_df, df_new], axis=1)

# Sort the column index in alphabetical order of ticker symbols
emmission_df = emmission_df.sort_index(axis=1)

In [ ]:
emmission_df[0:4].to_excel('emmission_multiindex.xlsx')